/* Untitled Goose Game - MOBILE Layout
------------------------*/

/* COLORS
------------------------
Dark Blue: #3D6BD5;
Dark Grey: #A5A5A5;
Light Grey: #E9E9E9;
Red: #E20013;
------------------------*/


* {
   box-sizing: border-box;
}

body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
   max-width: 100%;
   height: auto;
}



/* Nintendo Top Navigation
------------------------------------------ */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header nav ul {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
}


header nav a {
   color: black;
   text-decoration: none;
   padding: 1rem;
   border-radius: 2rem;
   transition: all .75s ease;
}

header nav a:hover {

}



/* Hero Image
------------------------------------------ */
section.hero-image {

}

section.hero-image img {

}





/* Game Name & Price
------------------------------------------ */
.game {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 2rem;
}

.game h1 {
   font-size: 175%;
   margin-bottom: .25rem;
}


.game h2 {
   font-weight: normal;
   color: #a5a5a5;
}


div.buy {
   display: flex;
   align-items: center;
}

div.buy li {
   list-style-type: none;

}

div.buy a {
   background-color: #e20013;
   border: 2px solid #a5a5a5;
   padding: 1rem;
   font-size: 75%;
   display: block;
   border-radius: .5rem;
   color: white;
   text-decoration: none;
   margin: .5rem;
   transition: all 1s ease;
}

div.buy a:hover {
   transform: scare(1.25);
   box-shadow: 0 10px 10px -10px black;
}

p.price {
   font-size: 130%;
   margin: 0 1rem 0 1rem;
}

/* Screen Shots
------------------------------------------ */
section.screen-shots {
   display: grid;
   grid-template-columns: 1fr 1fr;
   background-color: #3d6bd5;
   padding: 0.5rem;
   
}

section.screen-shots img:nth-child(3) {
   grid-column: 1/3;
   grid-row: 1/3;


}

section.screen-shots img {
   border: 0.2rem solid #a5a5a5;
}




/* Game Description
------------------------------------------ */
main {
   display: grid;
   grid-template-columns: 1fr;
   justify-content: space-around;
   align-items: center;
   padding: 2.5rem;

}



section.description {
   font-size: 125%;
   line-height: 1.2;
}

section.description h2 {
font-size: 125%;
padding: 1rem 0;
}

section.description h3 {
   font-size: 115%;
   padding: 1rem 0;
}

section.description li {

}

img.goose-badge {
   grid-row: 3/4;
   justify-content: center;
   align-items: center;
}

section.play-modes {
   grid-template-columns: 1fr 1fr 1fr;
   grid-row: 1/2;
   justify-content: space-between;
   grid-gap: 1rem;
   padding: 1rem;

}

section.play-modes h2 {
   grid-column: 1/4;
   font-size: 125%;
   padding: 1rem 0;
   text-align: center;
}


/* Footer
------------------------------------------ */
footer {
   background-color: #e20013;
   text-align: center;
   color: #a5a5a5;
}